body {
  background-color: grey;
}

.page {
  padding-right: 450px;
  padding-left: 450px;
}

.border {
  border-style: solid;
  border-color: yellow;
  background-color: powderblue;
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.subtitle {
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
  text-align: center;
}

p {
  font-size: 17px;
  margin: 10px;
}

.quote {
  text-align: center;
}
